html, body {
    background: #ffffcc;
    font-size: 86%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, p {
    color: #000000;
    font-style: "vera sans","dejavu sans",helvetica,verdana,arial,sans-serif;
}

h1 {
    font-size: 110%;
}

.menu {
    background: #ffcc33;
    display: inline-block;
    font-size: 120%; /* pending proper vertical-align: center */
    font-weight: bold;
    height: 10%;
}

#menutop {
    text-align: center;
    width: 30%;
}

#menudropdown {
    width: 100%;
}

#menuevent {
    text-align: center;
    width: 30%;
}

#menuperso {
    text-align: center;
    width: 30%;
}

#searchbox {
    background: #ffcc33;
    display: inline-block;
    font-size: 120%; /* pending proper vertical-align: center */
    font-weight: bold;
    height: 10%;
    width: 100%;
}

.artistsearchbox {
    width: 50%;
    float: left;
}

.artworksearchbox {
    width: 50%;
    float: right;
}

#content {
    width: 100%;
    min-height: 90%;
}

#footer {
    font-size: 55%;
    height: 15px;
    text-align: center;
}

.dropdown,
.dropdown ul {
    background: rgb(128,192,64);
}

.dropdown a,
.dropdown span {
    padding: 0.25em 0.5em;
    color: white;
    transition: background 0.2s;
}

.dropdown li:hover > a,
.dropdown li:hover > span,
.dropdown li.dropdownOpen > a,
.dropdown li.dropdownOpen > span {
    background: rgb(160,208,112);
}
