html, body {
    background: #ffffcc;
    font-size: 86%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, p {
    color: #000000;
    font-style: "vera sans","dejavu sans",helvetica,verdana,arial,sans-serif;
}

h1 {
    font-size: 110%;
}

input[type=text] {
    height: 15px;
    line-height: 15px;
    font-size: 13px;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.search {
    text-align: left;
    font-size: 80%;
}

.btn-search {
    background-image: url(../img/search.gif);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    border: none;
}

.menu {
    background: #ffcc33;
    display: inline-block;
    font-size: 120%; /* pending proper vertical-align: center */
    font-weight: bold;
    height: 10%;
}

#menutop {
    text-align: center;
    width: 30%;
}

#menudropdown {
    width: 100%;
}

#menuevent {
    text-align: center;
    width: 30%;
}

#menuperso {
    text-align: center;
    width: 30%;
}

#searchbox {
    background: #ffcc33;
    display: inline-block;
    font-size: 120%; /* pending proper vertical-align: center */
    font-weight: bold;
    height: 10%;
    width: 100%;
}

.artistsearchbox {
    width: 50%;
    float: left;
}

.artworksearchbox {
    width: 50%;
    float: right;
}

#content {
    width: 100%;
    min-height: 90%;
}

#srch {
    display: inline-block;
    width: 100%;
}

#leftsrch {
    float: left;
    vertical-align: center;
    display: inline-block;
    width: 10%;
}

#midsrch {
    float: center;
    vertical-align: center;
    display: inline-block;
    width: 80%;
}

#rightsrch {
    float: right;
    vertical-align: center;
    display: inline-block;
    width: 10%;
}

#footer {
    font-size: 55%;
    height: 15px;
    text-align: center;
}

.dropdown,
.dropdown ul {
    background: rgb(128,192,64);
}

.dropdown a,
.dropdown span {
    padding: 0.25em 0.5em;
    color: white;
    transition: background 0.2s;
}

.dropdown li:hover > a,
.dropdown li:hover > span,
.dropdown li.dropdownOpen > a,
.dropdown li.dropdownOpen > span {
    background: rgb(160,208,112);
}
