<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
          "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
	<link rel="stylesheet" href="./css/style.css" type="text/css" />
	<link rel="stylesheet" href="./css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="./css/dropdown.css" type="text/css" />
	<link rel="apple-touch-icon" sizes="57x57"
	    href="/images/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60"
	    href="/images/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72"
	    href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76"
	    href="/images/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114"
	    href="/images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120"
	    href="/images/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144"
	    href="/images/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152"
	    href="/images/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180"
	    href="/images/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png"
	    href="/images/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png"
	    href="/images/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png"
	    href="/images/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png"
	    href="/images/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/images/manifest.json">
	<link rel="shortcut icon" href="/images/favicon.ico">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage"
	    content="/images/mstile-144x144.png">
	<meta name="msapplication-config" content="/images/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<script language="text/template" class="template" id="srch-tplate">
	    <label class='search'>
		<input class='srchiput' type='text' placeholder='<%=rc.title%>'
		    id='search<%=rc.base%>_input' />
		<input type='button' id='search<%=rc.base%>_button' value='?'
		    class='btn-search' />
	    <% if (rc.base == 'events') { %>
		<select class='srchiput' name='place' id='searchplace_input'>
		<% _.each(rc.places, function(cities, country) {
		    var opts = "";
		    if ($_GET['country'] == country) {
			if ($_GET['city']) { } else {
			    opts = " selected='selected'";
			}
		    } %>
		    <option value='<%=country%>/'<%=opts%>><%=country%></option>
		    <% _.each(cities, function(city) {
			opts = "";
			if ($_GET['city']) {
			    if ($_GET['city'] == city) {
				opts = " selected='selected'";
			    }
			} %>
		    <option value='<%=country%>/<%=city%>'<%=opts%>><%=country%>/<%=city%></option>
		    <% });
		}); %>
		</select>
	    <% } %>
	    </label>
	</script>
	<script language="text/template" class="template" id="hstry-tplate">
	    <div id='srch'><div id='leftsrch'>
	    <% if (rc.dname) {
		var baseurl = rc.baseurl + '/' + rc.dname;
	    } else {
		var baseurl = rc.baseurl;
	    }
	    if (rc.page && rc.page > 0) {
		var prev = Math.floor(rc.page) - 1;
		var imgid = " id='showsrch'"; %>
		<a href="#<%=baseurl%>/+<%=prev%>">
	    <% } else {
		var imgid = " id='hiddensrch'";
	    } %>
		    <img src='./images/prev.png'<%=imgid%> alt='previous'/>
	    <% if (rc.page && rc.page > 0) { %>
		</a>
	    <% } %>
	    </div>
	    <div id='midsrch'><h1><%=rc.title%><h1/></div>
	    <div id='rightsrch'>
	    <% if (rc.next && rc.next > 0) {
		var imgid = " id='showsrch'"; %>
		<a href="#<%=baseurl%>/+<%=rc.next%>">
	    <% } else {
		var imgid = " id='hiddensrch'";
	    } %>
		    <img src='./images/next.png'<%=imgid%> alt='next'/>
	    <% if (rc.next && rc.next > 0) { %>
		</a>
	    <% } %>
	    </div></div>
	</script>
	<script language="text/template" class="template" id="dnamelist-tplate">
	    <p>
	    <% if (rc.data) {
		_.each(rc.data, function(item) {
		    if (item.attributes && item.attributes.dname) {
			var durl = rc.baseurl + '/' + item.attributes.dname;
			var sname = capitalize(asName(item.attributes.dname));
		    } else if (item.dname) {
			var durl = rc.baseurl + '/' + item.dname;
			var sname = capitalize(asName(item.dname));
		    } else { var sname = ""; }
		    if (sname != "") { %>
		<a href="#<%=durl%>/"><%=sname%></a><br/>
		    <% }
		});
	    } %>
	    </p>
	</script>
	<script language="text/template" class="template"
	    id="artistlist-tplate">
	    <p>
	    <% if (rc.data) {
		_.each(rc.data, function(item) {
		    if (item.lastname) {
			var sname = '', durl = 'artists/' + item.id + '/';
			if (item.firstname) {
			    sname += capitalize(asName(item.firstname)) + ' ';
			}
			sname += asName(item.lastname).toUpperCase(); %>
		<a href="#<%=durl%>"><%=sname%></a><br/>
		    <% }
		});
	    } %>
	    </p>
	</script>
	<script language="text/template" class="template"
	    id="artworklist-tplate">
	    <p>
	    <% if (rc.data) {
		_.each(rc.data, function(item) {
		    if (item.title) {
			var durl = 'artworks/' + item.id + '/';
			sname = capitalize(asName(item.title));
			if (item.author) {
			    sname += ' (' + capitalize(asName(item.author))
				  + ')';
			} %>
		<a href="#<%=durl%>"><%=sname%></a><br/>
		    <% }
		});
	    } %>
	    </p>
	</script>
	<script language="text/template" class="template" id="artist-tplate">
	    <% if (rc.artist) {
		if (rc.artist.dname && rc.artist.dname == "unknown artist") {
		    var body = '', sname = rc.artist.dname;
		} else {
		    var sname = '', body = '';
		    if (rc.artist.firstname) {
			var sname = rc.artist.firstname + ' ';
		    }
		    sname += rc.artist.lastname;
		    if (rc.artist.attrib) {
			body += '(attributed to)<br/>';
		    }
		    /* else */ if (rc.artist.dstart) {
			if (rc.artist.dstart == rc.artist.dstop) {
			    body += "Active in " + rc.artist.dstart;
			} else {
			    body += "Active from " + rc.artist.dstart + " to "
				+ rc.artist.dstop;
			}
			if (rc.artist.dstart.match(/[VXI]/) &&
				rc.artist.dstart.match(/[VXI]/).index == 0) {
			    body += ' century';
			}
			body += "<br/>";
		    }
		    if (rc.artist.bestcountry) {
			body += 'Mainly sold in ' + rc.artist.bestcountry;
			if (rc.artist.bestamount) {
			    body += ' (ratio: ' + rc.artist.bestamount + ')';
			}
			body += "<br/>";
		    }
		    if (rc.artist.priceidx) {
			if (rc.artist.priceidx == 'growing' ||
			    rc.artist.priceidx == 'decreasing') {
			    body += "Prices globally " + rc.artist.priceidx;
			} else {
			    body += "Mostly sold " + rc.artist.priceidx;
			}
			body += "<br/>";
		    }
		    if (rc.artist.rank) {
			body += "Rank: " + rc.artist.rank + "<br/>";
		    }
		} %>
	    <h1><%=sname%></h1>
	    <p id='whatdata'><%=body%></p>
	    <% } else { %>
		<h1>Artist not found</h1>
	    <% } %>
	</script>
	<script language="text/template" class="template" id="artwork-tplate">
	    <% if (rc.artwork) {
		if (rc.artwork.dname && rc.artwork.dname == "unknown artwork") {
		    var body = '', sname = rc.artwork.dname;
		} else {
		    var sname = rc.artwork.title, body = '';
		    if (rc.artwork.category) {
			body += rc.artwork.category;
			if (rc.artwork.medium) {
			    body += ", " + rc.artwork.medium;
			}
			body += "<br/>";
		    }
		    if (rc.artwork.author) {
			body += 'From: <a href="#artists/' + rc.artwork.author
			     + '/">' + capitalize(asName(rc.artwork.author))
			     + '</a><br/>';
		    }
		    if (rc.artwork.completed) {
			if (rc.artwork.started) {
			    body += "Started on " + rc.artwork.started
				 + "<br/>";
			}
			body += "Completed on " + rc.artwork.completed
			     + "<br/>";
		    }
		    if (rc.artwork.auctionhouse) {
			body += "Auction in " + rc.artwork.auctionhouse;
			if (rc.artwork.lotid) {
			    body += ", lot number " + rc.artwork.lotid;
			}
			if (rc.artwork.salesdate) {
			    var thedate = new Date(rc.artwork.salesdate * 1000);
			    body += ", sales on " + thedate.toDateString();
			}
			body += "<br/>";
		    }
		    if (rc.artwork.hammerprice) {
			body += "Hammer price: " + rc.artwork.hammerprice
			     + "<br/>";
		    }
		    if (rc.artwork.premiumprice) {
			body += "Prince including buyer's premium: "
			     + rc.artwork.premiumprice + "<br/>";
		    }
		    if (rc.artwork.lowestprice) {
			body += "Low estimate: " + rc.artwork.lowestprice
			     + "<br/>";
		    }
		    if (rc.artwork.highestprice) {
			body += "High estimate: " + rc.artwork.highestprice
			     + "<br/>";
		    }
		    if (rc.artwork.distinctions) {
			body += "Distinctions: " + rc.artwork.distinctions
			     + "<br/>";
		    }
		} %>
	    <h1><%=sname%></h1>
	    <p id='whatdata'><%=body%></p>
	    <% } else { %>
		<h1>Artwork not found</h1>
	    <% } %>
	</script>
	<script language="text/template" class="template" id="event-tplate">
	    <% if (rc.evt.title) {
		if (rc.evt.dname && rc.evt.dname == "unknown event") {
		    var body = '', sname = rc.evt.dname;
		} else {
		    var sname = rc.evt.title, body = '';
		    if (rc.evt.group || rc.evt.expo || rc.evt.auction) {
			body += "<div id='whatdata'>";
		    }
		    if (rc.evt.group && rc.evt.group == true) {
			body += "<b>Group Show</b> ";
		    } else if (rc.evt.group && rc.evt.group == false) {
			body += "<b>Solo Show</b> ";
		    }
		    if (rc.evt.expo && rc.evt.expo == true) {
			body += "(exposition)";
		    } else if (rc.evt.auction && rc.evt.auction == true) {
			body += "(auction)";
		    }
		    if (body.length > 0) { body += "<br/></div>"; }
		    if (rc.evt.starts) {
			var thedate =
			    new Date(rc.evt.starts * 1000).toDateString();
			body += "<div id='datedata'>";
			body += "<b>Starts</b>: " + thedate + "<br/>";
			if (rc.evt.stops) {
			    thedate =
				new Date(rc.evt.stops * 1000).toDateString();
			    body += "<b>Ends</b>: " + thedate + "<br/>";
			}
			body += "</div>";
		    }
		    if (rc.evt.direction || rc.evt.country) {
			body += "<div id='locationdata'>";
		    }
		    if (rc.evt.direction) {
			if (rc.evt.maps) {
			    body += "<a target='_top' href='https://maps.google"
				 + ".com/" + rc.evt.maps + "'>";
			}
			body += rc.evt.direction;
			if (rc.evt.maps) { body += "</a>"; }
			body += "<br/>";
		    }
		    if (rc.evt.country) {
			body += " in ";
			if (rc.evt.direction == undefined) {
			    if (rc.evt.maps) {
				body += "<a target='_top' href='https://maps."
				     + "google.com/" + rc.evt.maps + "'>";
			    }
			}
			if (rc.evt.city) { body += rc.evt.city + ", "; }
			body += rc.evt.country;
			if (rc.evt.direction == undefined) {
			    if (rc.evt.maps) { body += "</a>"; }
			}
			body += "<br/>";
		    }
		    if (rc.evt.direction || rc.evt.country) {
			body += "</div>";
		    }
		    if (rc.evt.tel || rc.evt.url) {
			body += "<div id='infodata'>";
		    }
		    if (rc.evt.tel) {
			body += '<b>tel</b>: ' + rc.evt.tel + '<br/>';
		    }
		    if (rc.evt.url) {
			body += "<a target='_top' href='http://" + rc.evt.url
			     + "'>Check <b>gallery's site</b> for more data</a>"
			     + "<br/>";
		    }
		    if (rc.evt.tel || rc.evt.url) {
			body += "</div>";
		    }
		} %>
	    <h1><%=sname%></h1>
	    <p><%=body%></p>
	    <% } else { %>
		<h1>Event not found</h1>
	    <% } %>
	</script>
	<script language="javascript" src="./js/jquery.js"></script>
	<script language="javascript" src="./js/underscore.js"></script>
	<script language="javascript" src="./js/backbone.js"></script>
	<script language="javascript" src="./js/dropdown.js"></script>
	<script language="javascript" src="./js/list.js"></script>
	<title>myArtGallery</title>
    </head>
    <body>
	<div align='center' id='header'>
	    <ul class='dropdown' id='menuheader'>
		<li id='menutop'>
		    Top
		    <ul id='menudropdown'>
			<li><a href='#top/artists/'>Top Artists</a></li>
			<li><a href='#top/artworks/'>Top Artworks</a></li>
		    </ul>
		</li>
		<li id='menuevent'>
		    Events
		    <ul id='menudropdown'>
			<li>
			    <a href='./index.html?auction=true#search/events/'>Auctions</a>
			</li>
			<li>
			    <a href='./index.html?expo=true#search/events/'>Expositions</a>
			    <ul id='menudropdown'>
				<a href='./index.html?expo=true&country=France#search/events/'>France</a>
				<a href='./index.html?expo=true&country=USA#search/events/'>USA</a>
				<a href='./index.html?expo=true&country=United%20Kingdom#search/events/'>United Kingdom</a>
			    </ul>
			</li>
		    </ul>
		</li>
		<li id='menuperso'>
		    myArtGallery
		    <ul id='menudropdown'>
			<li><a href='#'>Wallet</a></li>
			<li><a href='#'>Evaluate Artwork</a></li>
			<li><a href='#'>Social Network</a></li>
			<li><a href='#'>Shares</a></li>
		    </ul>
		</li>
	    </ul>
	</div>
	<div align='center' id='content' class='container'>
	    <div id='searchboxtoggle'
		    onClick='toggle_visibility("searchbox");'>
		<p id='searchboxtogglebtn'>+ Search +</p>
	    </div>
	    <div id='searchbox'>
		<div id='searchartcontainer'>
		    <div class='artistsearchbox'></div>
		    <div class='artworksearchbox'></div>
		</div>
		<div class='eventsearchbox'></div>
	    </div>
	    <div class='page'></div>
	</div>
	<div align='center' id='footer'>Copyleft 2015 by bibi</div>
	<script language="javascript" src="./js/client.js"></script>
    </body>
</html>
